/* 各个页面相同的样式表。比如说网页的头、尾部 */
/* 版心 */
.wrapper {
    width: 1240px;
    margin: 0 auto;
}

/* 快捷导航菜单 */
.shortcut {
    height: 52px;
    background-color: #333;
}

.shortcut .wrapper {
    height: 52px;
    line-height: 52px;
}

.shortcut .wrapper ul {
    float: right;
}

.shortcut .wrapper ul li {
    float: left;
    margin-right: 16px;
}

.shortcut .wrapper ul li:last-child {
    margin-right: 0px;
}

.shortcut .wrapper ul li a {
    /* margin-right: 16px; */
    padding-right: 16px;
    border-right: 1px solid #666;
    color: #dcdcdc;
    font-size: 14px;
}

.shortcut .wrapper ul li a:hover {
    color: #27ba9b;
}

.shortcut .wrapper .last {
    padding-right: 0px;
    border-right: 0px;
}

.shortcut .wrapper ul li a span {
    /* 注意这里span是行内元素 */
    display: inline-block;
    margin-right: 8px;
    width: 11px;
    height: 16px;
    background-image: url(../images/sprites.png);
    background-position: -160px -70px;
    vertical-align: middle;
}

.shortcut .wrapper ul li a span:hover {
    width: 11px;
    height: 16px;
    background-image: url(../images/sprites_1.png);
    background-position: -160px -70px;
}

/* 导航栏 */
.header {
    height: 70px;
    margin: 30px auto;
}

.header .logo {
    float: left;
    margin-right: 40px;
    width: 207px;
    height: 70px;
}

.header .logo h1 a {
    display: inline-block;
    width: 207px;
    height: 70px;
    background-image: url(../images/logo.png);
    background-size: contain;
    font-size: 0px;
}

.header .nav {
    height: 70px;
    line-height: 70px;
    float: left;
}

.header .nav li {
    float: left;
    margin-right: 48px;
}

.header .nav li a:hover {
    padding-bottom: 7px;
    border-bottom: 1px solid #27ba9b;
    color: #27ba9b;
}

.header .search {
    position: relative;
    float: left;
    margin-left: 34px;
    margin-top: 24px;
    width: 172px;
    height: 30px;
}

.header .search input {
    width: 172px;
    height: 30px;
    border: 0px;
    padding-bottom: 12px;
    border-bottom: 2px solid #e7e7e7;
}

.header .search span {
    position: absolute;
    top: 0px;
    left: 2px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../images/sprites.png);
    background-position: -79px -69px;
}

.header .search input::placeholder {
    font-size: 14px;
    color: #ccc;
    padding-left: 29px;
}

.header .car {
    position: relative;
    float: left;
    margin-top: 28px;
    margin-left: 31px;
    width: 23px;
    height: 23px;
    background-image: url(../images/sprites.png);
    background-position: -120px -70px;
}

.header .car span {
    position: absolute;
    top: -7px;
    left: 13px;
    display: inline-block;
    width: 20px;
    height: 14px;
    font-size: 13px;
    text-align: center;
    line-height: 14px;
    color: #fff;
    background-color: #e26237;
    border-radius: 8px;
}

/* 版权信息 */
.footer {
    height: 343px;
    background-color: #333;
}

.footer .wrapper {
    width: 1393px;
}

.footer .wrapper .top {
    height: 174px;
    border-bottom: 3px solid #434343;
}

.footer .wrapper .top li {
    position: relative;
    float: left;
    margin-right: 165px;
    margin-top: 62px;
    margin-left: 135px;
    width: 195px;
    height: 58px;
}

.footer .wrapper .top li:last-child {
    margin-right: 0px;
}

/* 图标这里通过伪元素来实现 */
/* 当图片和文字垂直对齐用vertical-align:middle;和line-height都不能很好实现的时候,就使用定位 */
.footer .wrapper .top li::before {

    content: '';
    display: inline-block;
    margin-right: 25px;
    width: 58px;
    height: 58px;
    background-image: url(../images/sprites.png);
    background-position: 0 0;
    vertical-align: middle;
}

/* 第二个li里面的before添加背景图为主属性 */
.footer .wrapper .top li:nth-child(2)::before {
    background-position: -65px 0;
}

/* 最有一个li同上 */
.footer .wrapper .top li:last-child::before {
    background-position: -131px 0;
}

.footer .wrapper .top span {
    position: absolute;
    top: 13px;
    left: 82px;
    font-size: 28px;
    color: #fff;
}

.footer .wrapper .bottom {
    margin-top: 41px;
    color: #999;
    text-align: center;
}

.footer .wrapper .bottom a {
    font-size: 14px;
    color: #999;
}

.footer .wrapper .bottom p {
    font-size: 14px;
    margin-top: 20px;
}