/* 放index页面的样式表 */
/* banner */
.banner {
    height: 500px;
    background-color: #f5f5f5;
}

.banner .wrapper {
    position: relative;
    height: 500px;
    background-color: pink;
}

/* 侧导航 */
.banner .aside {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .wrapper .aside li {
    position: relative;
    height: 50px;
    line-height: 50px;
}

/* 注意这里整个li就是a */
.banner .wrapper .aside li a {
    display: block;
    padding-left: 36px;
    height: 50px;
    color: #fff;
}

/* 注意这里的hover是加给a标签不是li */
.banner .wrapper .aside li a:hover {
    background-color: #27ba9b;
}

.banner .wrapper .aside li span:nth-child(1) {
    padding-left: 15px;
}

.banner .wrapper .aside span {
    font-size: 14px;
}

.banner .wrapper .aside li span:last-child::after {
    position: absolute;
    top: 19px;
    right: 19px;
    display: inline-block;
    content: "";
    width: 6px;
    height: 11px;
    background-image: url(../images/sprites.png);
    background-position: -80px -110px;
}

/* 箭头 */
.banner .wrapper .prev,
.banner .wrapper .next {
    position: absolute;
    top: 228px;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background-image: url(../images/sprites.png);
}

.banner .wrapper .prev {
    left: 260px;
    background-position: 15px -60px;
}

.banner .wrapper .next {
    right: 10px;
    background-position: -25px -60px;
}

/* 圆点 */
.banner .wrapper ol {
    position: absolute;
    left: 680px;
    bottom: 31px;
    height: 10px;
    list-style: none;
}

.banner .wrapper ol li {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 24px;
    background-color: rgba(255, 255, 255, 0.43);
    cursor: pointer;
}

.banner .wrapper .current {
    background-color: #fff;
}

/* 新鲜好物 */
.goods {
    margin-top: 48px;
}

.goods .goods_title {
    height: 29px;
    margin-bottom: 37px;
}

.goods .goods_title h2 {
    float: left;
    margin-right: 34px;
    font-weight: 400;
    color: #333;
}

.goods .goods_title span {
    font-size: 16px;
    color: #999;
    line-height: 0px;
    vertical-align: bottom;
}

.goods .goods_title a {
    float: right;
    font-size: 16px;
    color: #999;
}

.goods .goods_title a::after {
    display: inline-block;
    margin-left: 13px;
    content: "";
    width: 7px;
    height: 13px;
    vertical-align: middle;
    background-image: url(../images/sprites.png);
    background-position: 0 -110px;
}

.goods .goods_body ul li {
    position: relative;
    float: left;
    width: 304px;
    height: 405px;
    background-color: #f0f9f4;
    margin-right: 8px;
}

.goods .goods_body ul li:nth-child(4n) {
    margin-right: 0px;
}

.goods .goods_body ul li a .images {
    height: 305px;
}
.goods .goods_body ul li a .new{
    position: absolute;
    top: 18px;
    left: 17px;
    width: 28px;
    height: 51px;
}

.goods .goods_body ul li .text{
    height: 100px;
    text-align: center;
    margin: 22px auto;
}
.goods .goods_body ul li .text h3{
    font-size: 20px;
    font-weight: 400;
    color: #333;
}
.goods .goods_body ul li .text h4{
    font-size: 23px;
    margin-top: 19px;
    font-weight: normal;
    color: #9a2e1f;
}

.goods .goods_body ul li .text span{
    font-size: 17px;
    margin-right: 3px;
}